.profile {
  
  margin: 10px;
  border: 6px solid brown;
  padding: 5px;
  background-color: moccasin;
  float: left;
  width: max-content;
  border-image: 4px solid black;
}

.profile p {
  color: orangered;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: lavender;
}

@media screen and (min-width: 700px) {
  .profile {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 520px) {
  body {
    background-image: url(https://i.ytimg.com/vi/2Ln2k8KDn4M/maxresdefault.jpg);
  }
}