.profile {
  
  margin: 10px;
  border: 6px solid brown;
  padding: 5px;
  background-color: moccasin;
  float: left;
  width: max-content;
  border-image: 4px solid black;
  color: blue
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: lavender;
}